h1{
    padding-bottom: 0.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
}

p{
    color: #4B5563;
}

.about-section{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;


    @media (min-width: 768px) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .section-div {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        margin-bottom: 2rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;


        @media (min-width: 768px) {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        @media (min-width: 1024px) {
            font-size: 3rem;
            line-height: 1;
        }
    }
    .about-div {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        div {
            padding: 2rem;
            margin-bottom: 2rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

            img {
                object-fit: cover;
                margin-bottom: 1.25rem;
                width: 100%;
                height: 10rem;
                border-radius: 0.5rem;
            }

            h2 {
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 700;
            }
        }
    }
}